__pycache__/
*.py[cod]
*.so
*.egg-info/
.ipynb_checkpoints/
.pytest_cache/

.venv/
venv/
env/
.conda/

checkpoints/
results/
logs/
runs/
*.pth
*.ckpt

data/
mvtec_ad/
mvtec_anomaly_detection/

.vscode/
.idea/
.DS_Store
